.page8{
    background-color: #D7F0EC;
    width: 375px;
    height: 812px;

    display: none;
}

.page8 .container8{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 75px;
    justify-content: space-evenly;
    flex-grow: 4;
}


.page8 .buttons-p8{
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    position: relative;
    top: 34px;
    top: 50px;
    padding: 25px;
}
